body {
    margin: 0;
}

.rightContent {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.headerContent p {
    padding: 20px;
    padding-left: 100px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.personLogIn {
    object-fit: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.headerContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mainContent {
    padding-left: 100px;
}


/* Hier beginnt der Content*/

.dropdown {
    position: relative;
    display: inline-block;
}

.drop {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 380px;
    border: 1px solid lightgray;
}

.drop img{
    object-fit: contain;
    width: 12px;
    height: 16px;
}

.selectImg{
    position: relative;
    display: flex;
    align-items: center;
}

.updateImg{
    position: absolute;
    left: 10px;
    
}

.categoryContainer{
    display: flex !important;
}

.categoryContainer p{
    margin: 0;
} 

.dropdown a:hover {background-color: #ddd;}

.show {
    display: block !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content input{
    width: 100%!important;
  }

  .dropdown-content img {
    padding-left: 10px;
    object-fit: contain;
  }
  
  .dropdown-content a {
    padding: 10px;
    color: black;
    
    text-decoration: none;
    display: block;
  }

.headline {
    display: flex;
}

.headline h1 {
    padding-right: 30px;
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 20px;
}

.flexContainer {
    display: flex;
    padding-left: 100px;
}

.leftContainer {
    width: 50%;
}

.leftContainer p {
    font-size: 18px;
}

.leftContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    padding-left: 20px;
}

.leftContainer textarea {
    width: 400px;
    height: 70px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.rightContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.rightContainer p {
    font-size: 18px;
}

.flex p {
    margin-bottom: 0;
}

.prio {
    display: flex;
}

.prio img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.prioContainer {
    padding: 12px;
    margin-right: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 26px;
    display: flex;
    align-items: center;
    border: 1px solid #D1D1D1;
}

.prioContainer img {
    padding-left: 10px;
}

.medium {
    height: 10px !important;
}

.prioContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 3px lightgray;
}

.middleLine {
    position: absolute;
    width: 0px;
    height: 500px;
    left: 845px;
    top: 170px;
    border: 1px solid #D1D1D1;
}

.relativeContainer {
    position: relative;
}

.rightContainer {
    display: flex;
    flex-direction: column;
}

.dateImg {
    width: 12px;
    height: 12px;
    background-color: white;
}

.subtaskIMG {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 30px;
    top: 12px;
    cursor: pointer;
}

.assign-contact{

}

.checkbox {
    max-width: 25px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-top: 6px;
}

.subtaskContainer {
    display: flex;
}

.subtaskContainer p {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 18px;
    margin-bottom: 5px;
}

.btn {
    position: absolute;
    bottom: 50px;
    right: 150px;
}

.btn img {
    width: 14px;
    height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.btnClear {
    padding: 10px;
    border-radius: 10px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 18px;
}

.btnCreate {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgray;
    background: #2A3647;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.btnClear:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.btnCreate:hover {
    background-color: #29ABE2;
}

.pfeilUnten {
    width: 8px;
    height: 8px;
}

select {
    width: 415px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

.red {
    background-color: #FF3D00;
    color: white;
}

.yellow {
    background-color: #FFA800;
    color: white;
}

.green {
    background-color: #7AE229;
    color: white;
}

.category img{
    padding-left: 10px;
}

.newCategoryText{
    
    border: none !important;
    display: flex !important;
    align-items: center !important;
}

.newCategoryImg{
    margin: 10px;
    cursor: pointer;
}

.xBtn{
    position: absolute;
    right: 40px;
    width: 16px !important;
    height: 16px !important;
    padding-right: 10px;
    border-right: 2px solid black;
}

.hackenBtn{
    width: 16px !important;
    height: 16px !important;
    padding-left: 10px;
    position: absolute;
    right: 10px;
}

.newCategoryText input:hover{
    border-right: none;
}