body {
    margin: 0;
    position: relative;
}

.rightContent {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
    overflow: auto;
}

.rightContent::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 79px;
    box-shadow: -1px 2px lightgrey;
    position: relative;
}

.btnForMobile {
    background-color: #2A3647;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 124px;
    height: 51px;
}

.logoMobile {
    height: 50%;
    display: flex;
    margin-left: 3%;
}

.display-none {
    display: none;
}

.d-none {
    display: none !important;
}

.logOutBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.headerContent p {
    padding: 20px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.personLogIn {
    object-fit: cover;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 3px solid #2A3647;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.logOutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 2%;
    width: 130px;
    height: 53px;
    background: #2A3647;
    border-radius: 20px 0px 20px 20px;
    color: #CDCDCD;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headerContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mainContent {
    padding-left: 100px;
}

.mainContainerHelp {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    background-color: rgba(240, 236, 236, 0.443);
}

.headerHelp {
    display: flex;
    justify-content: space-between;
}

.headerHelp h1 {
    margin-top: 0;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.headerHelp img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 23px;
}

.mainContent {
    display: flex;
}

.mainContents {
    overflow: scroll;
    height: 787px;
}

.mainContents::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}


/* Hier beginnt der Content*/

.dropdown {
    position: relative;
    display: inline-block;
}

.drop {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 380px;
    border: 1px solid lightgray;
}

.drop img {
    object-fit: contain;
    width: 12px;
    height: 16px;
}

.selectImg {
    position: relative;
    display: flex;
    align-items: center;
}

.updateImg {
    position: absolute;
    left: 10px;
}

.categoryContainer {
    display: flex !important;
}

.categoryContainer p {
    margin: 0;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content input {
    width: 100% !important;
}

.dropdown-content img {
    padding-left: 10px;
    object-fit: contain;
}

.dropdown-content a {
    padding: 10px;
    color: black;
    text-decoration: none;
    display: block;
}

.headline {
    display: flex;
}

.headline h1 {
    padding-right: 30px;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}

.flexContainer {
    display: flex;
    padding-left: 100px;
    margin-top: 10px;
}

.leftContainer {
    width: 50%;
}


/* .leftContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    padding-left: 20px;
    height: 27px;
} */

.titlesInputfild {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 31vw;
    padding: 8px;
    cursor: pointer;
    padding-left: 20px;
    height: 27px;
    font-size: 21px;
}

.assignedToArea {
    height: 27px;
    font-size: 21px;
}

.leftContainer textarea {
    width: 32vw;
    height: 70px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    font-size: 21px;
}

.rightContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 31vw;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    height: 27px;
}

.flex p {
    margin-bottom: 0;
}

.prio {
    display: flex;
}

.prio img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.prioContainer {
    padding: 12px;
    margin-right: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 26px;
    display: flex;
    align-items: center;
    border: 1px solid #D1D1D1;
}

.prioContainer img {
    padding-left: 10px;
}

.medium {
    height: 10px !important;
}

.prioContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 3px lightgray;
}


/* .middleLine {
    position: absolute;
    width: 0px;
    height: 500px;
    left: 890px;
    top: 170px;
    border: 1px solid #D1D1D1;
} */

.relativeContainer {
    position: relative;
}

.rightContainer {
    display: flex;
    flex-direction: column;
}

.dateImg {
    width: 12px;
    height: 12px;
    background-color: white;
}

.subtaskIMG {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 30px;
    top: 12px;
    cursor: pointer;
}

.checkbox {
    max-width: 25px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-top: 6px;
}

.subtaskContainer {
    display: flex;
}


/* .subtaskContainer p {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 18px;
    margin-bottom: 5px;
} */

.btn {
    position: absolute;
    bottom: 50px;
    right: 150px;
}

.btn img {
    width: 14px;
    height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.btnClear {
    padding: 10px;
    border-radius: 10px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 18px;
}

.btnCreate {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgray;
    background: #2A3647;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.btnClear:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.btnCreate:hover {
    background-color: #29ABE2;
}

.pfeilUnten {
    width: 8px;
    height: 8px;
}

select {
    width: 415px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

.red {
    background-color: #FF3D00;
    color: white;
}

.yellow {
    background-color: #FFA800;
    color: white;
}

.green {
    background-color: #7AE229;
    color: white;
}

.category img {
    padding-left: 10px;
}

.newCategoryText {
    border: none !important;
    display: flex !important;
    align-items: center !important;
}

.newCategoryImg {
    margin: 10px;
    cursor: pointer;
}

.xBtn {
    position: absolute;
    right: 40px;
    width: 16px !important;
    height: 16px !important;
    padding-right: 10px;
    border-right: 2px solid black;
}

.hackenBtn {
    width: 16px !important;
    height: 16px !important;
    padding-left: 10px;
    position: absolute;
    right: 10px;
}

.newCategoryText input:hover {
    border-right: none;
}

.addTask_titleInputFields {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 21px;
}

.addTask_categoryDiv {
    width: 31vw;
    height: 7px;
    border-radius: 10px;
    padding: 18px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.addTask_selectTaskCategory {
    font-size: 21px;
    margin: 0px;
}

.addTask_inputfieldNewCategory {
    outline: none !important;
    border: none !important;
    z-index: 999 !important;
    width: 300px;
    height: 30px !important;
}

.addTask_selectNewCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
}

.addTask_selectNewCategoryCancel {
    padding-right: 5px;
}

.addTask_subLine {
    width: 0px;
    height: 30px;
    border: 1px solid lightgray;
}

.addTask_selectNewCategoryCheckmark {
    padding-left: 12px;
}

.addTask_categoryList {
    padding-left: 12px;
    margin-top: 0px;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0px;
    list-style-type: none;
    height: 133px;
    overflow: scroll;
    overflow-x: hidden;
    width: 81.2%;
    background-color: white;
}

.addTask_categoryList::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.addTask_taskCategory {
    font-size: 21px;
    margin: 10px 19px;
}

.addTask_categoryMedia {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.addTask_containerColorPicker {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-top: 10px;
}

.addTask_colorPicker {
    border-radius: 100%;
    height: 17px;
    width: 17px;
    border: 2px solid white;
    cursor: pointer;
}

.bg-orange {
    background-color: #FF3D00 !important;
}

.bg-yellow {
    background-color: #FFA800 !important;
}

.bg-green {
    background-color: #7AE229 !important;
}

.bg-pink {
    background-color: #FC71FF;
}

.bg-turquoise {
    background-color: #1FD7C1;
}

.bg-blue {
    background-color: #0038FF;
}

.borderButton {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.addTask_categoryMediaDivSmoll:hover {
    background-color: rgb(248, 244, 244);
    cursor: pointer;
}

.addTask_categoryMediaDivSmoll {
    display: flex;
    align-items: center;
    width: 100%;
}

.addTask_categoryMediaDivSmollDiv {
    display: flex;
    align-items: center;
    width: 100%;
}

.addTask_closes3 {
    color: #bbb;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    font-family: none;
    margin-right: -3px;
    width: 40px;
    height: 40px;
}

.addTask_closes3:hover,
.addTask_closes3:focus {
    color: #5f5e5e;
    ;
    text-decoration: none;
    cursor: pointer;
}

.assignedDiv {
    width: 31vw;
    height: 7px;
    border-radius: 10px;
    padding: 18px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.assignedToList {
    padding-left: 12px;
    margin-top: 0px;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0px;
    list-style-type: none;
    height: 133px;
    width: 81.2%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
}

.assignedToList::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.assignedAddContact {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.assignedDivBorder {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none !important;
}

.assignedDivBorderToEdit {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none !important;
}

.assignedToListBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskAssignedTo {
    font-size: 21px;
    margin: 10px 19px;
}

.assignedAddContactDivs {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}

.assignedAddContactLetters {
    font-size: 15px !important;
}

.prio {
    display: flex;
}

.prio img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.prioContainer {
    padding: 10px;
    margin-right: 38px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 21px;
    border: 1px solid #D1D1D1;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prioContainer img {
    padding-left: 0px;
}

.red {
    background-color: #FF3D00;
    color: white;
}

.yellow {
    background-color: #FFA800;
    color: white;
}

.green {
    background-color: #7AE229;
    color: white;
}

.relativeContainer {
    display: flex;
    align-items: center;
}

.smallRelativeContainer {
    position: relative;
}

.subtaskIMG {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: -8px;
}

.subtsasksCancelImg {
    position: absolute;
    right: 40px;
    top: -12px;
    cursor: pointer;
}

.subtasksSsubLine {
    width: 0px;
    height: 30px;
    border: 1px solid lightgray;
    position: absolute;
    right: 36px;
    top: -15px;
}

.subtasksChackImg {
    position: absolute;
    right: 11px;
    top: -7px;
    cursor: pointer;
}

.subtaskContainer {
    display: flex;
    flex-direction: column;
}

.checkboxSubtasksContainer {
    display: flex;
    align-items: center;
}

.checkboxSubtasks {
    max-width: 25px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtasksComent {
    padding-left: 15px;
    font-size: 15px;
}

.selectionMessage {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 326px;
    height: 50px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: fixed;
    left: 50%;
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    animation: contactAnim 400ms normal forwards;
    text-align: center;
    top: 69%;
}

.buttonSectionBackground {
    background-color: #091931;
}

.logOutAddTask {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 225ms ease-in-out;
}

.logOutAddTask:hover {
    border-bottom: 2px solid white;
    transition: all 225ms ease-in-out;
}

.miniTemplate {
    width: 100%;
    height: 80px;
    background-color: #2A3647;
    position: fixed;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.headerHelpAddTask img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 31px;
}

.legalNiticeAddTask {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    background-color: #F5F5F5;
    overflow: scroll;
    height: 652px;
}

.legalNiticeAddTask::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.headerHelpAddTask {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 17px 3px 4px;
    padding: initial;
    border: initial;
}

@media (max-width: 1700px) {
    .addTask_categoryList {
        width: 82.3%;
        background-color: white;
    }
    .assignedToList {
        width: 82.3%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1670px) {
    .addTask_categoryList {
        width: 82.9%;
        background-color: white;
    }
    .assignedToList {
        width: 82.9%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1650px) {
    .addTask_categoryList {
        width: 83%;
        background-color: white;
    }
    .assignedToList {
        width: 83%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1620px) {
    .addTask_categoryList {
        width: 83.6%;
        background-color: white;
    }
    .assignedToList {
        width: 83.6%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1590px) {
    .addTask_categoryList {
        width: 84.3%;
        background-color: white;
    }
    .assignedToList {
        width: 84.3%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1570px) {
    .addTask_categoryList {
        width: 84.6%;
        background-color: white;
    }
    .assignedToList {
        width: 84.6%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1550px) {
    .addTask_categoryList {
        width: 84.9%;
        background-color: white;
    }
    .assignedToList {
        width: 84.9%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1530px) {
    .addTask_categoryList {
        width: 85.3%;
        background-color: white;
    }
    .assignedToList {
        width: 85.3%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1510px) {
    .addTask_categoryList {
        width: 85.5%;
        background-color: white;
    }
    .assignedToList {
        width: 85.5%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 33px;
    }
}

@media (max-width: 1500px) {
    .addTask_categoryList {
        width: 85.8%;
        background-color: white;
    }
    .assignedToList {
        width: 85.8%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 28px;
    }
}

@media (max-width: 1470px) {
    .addTask_categoryList {
        width: 86.5%;
        background-color: white;
    }
    .assignedToList {
        width: 86.5%;
        background-color: white;
    }
}

@media (max-width: 1440px) {
    .addTask_categoryList {
        width: 86.9%;
        background-color: white;
    }
    .assignedToList {
        width: 86.9%;
        background-color: white;
    }
}

@media (max-width: 1420px) {
    .addTask_categoryList {
        width: 87.4%;
        background-color: white;
    }
    .assignedToList {
        width: 87.4%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 26px;
    }
}

@media (max-width: 1400px) {
    .addTask_categoryList {
        width: 88.2%;
        background-color: white;
    }
    .assignedToList {
        width: 88.2%;
        background-color: white;
    }
}

@media (max-width: 1370px) {
    .addTask_categoryList {
        width: 88.9%;
        background-color: white;
    }
    .assignedToList {
        width: 88.9%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 24px;
    }
}

@media (max-width: 1360px) {
    .addTask_categoryList {
        width: 89.2%;
        background-color: white;
    }
    .assignedToList {
        width: 89.2%;
        background-color: white;
    }
}

@media (max-width: 1340px) {
    .addTask_categoryList {
        width: 89.6%;
        background-color: white;
    }
    .assignedToList {
        width: 89.6%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 23px;
    }
}

@media (max-width: 1320px) {
    .addTask_categoryList {
        width: 90.2%;
        background-color: white;
    }
    .assignedToList {
        width: 90.2%;
        background-color: white;
    }
}

@media (max-width: 1300px) {
    .addTask_categoryList {
        width: 90.8%;
        background-color: white;
    }
    .assignedToList {
        width: 90.8%;
        background-color: white;
    }
    .prioContainer {
        margin-right: 22px;
    }
}

@media (max-width: 1280px) {
    .addTask_categoryList {
        width: 91.2%;
        background-color: white;
    }
    .assignedToList {
        width: 91.2%;
        background-color: white;
    }
}

@media (max-width: 1260px) {
    .addTask_categoryList {
        width: 91.9%;
        background-color: white;
    }
    .assignedToList {
        width: 91.9%;
        background-color: white;
    }
}

@media (max-width: 1250px) {
    .btn {
        right: 100px !important;
    }
    .flexContainer {
        padding-left: 50px;
    }
    .mainContent {
        padding-left: 50px;
    }
    .addTask_categoryList {
        width: 87.9% !important;
        background-color: white;
    }
    .assignedToList {
        width: 87.9% !important;
        background-color: white;
    }
    .prioContainer {
        margin-right: 19px;
    }
}

@media (max-width: 1230px) {
    .addTask_categoryList {
        width: 88% !important;
        background-color: white;
    }
    .assignedToList {
        width: 88% !important;
        background-color: white;
    }
    .prioContainer {
        margin-right: 18px;
    }
}

@media (max-width: 1210px) {
    .addTask_categoryList {
        width: 88.7% !important;
        background-color: white;
    }
    .assignedToList {
        width: 88.7% !important;
        background-color: white;
    }
}

@media (max-width: 1190px) {
    .addTask_categoryList {
        width: 89.1% !important;
        background-color: white;
    }
    .assignedToList {
        width: 89.1% !important;
        background-color: white;
    }
}

@media (max-width: 1170px) {
    .addTask_categoryList {
        width: 89.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 89.8% !important;
        background-color: white;
    }
    .prioContainer {
        margin-right: 17px;
    }
}

@media (max-width: 1150px) {
    .addTask_categoryList {
        width: 90.4% !important;
        background-color: white;
    }
    .assignedToList {
        width: 90.4% !important;
        background-color: white;
    }
}

@media (max-width: 1130px) {
    .addTask_categoryList {
        width: 90.9% !important;
        background-color: white;
    }
    .assignedToList {
        width: 90.9% !important;
        background-color: white;
    }
}

@media (max-width: 1110px) {
    .addTask_categoryList {
        width: 91.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 91.8% !important;
        background-color: white;
    }
    .prioContainer {
        margin-right: 15px;
    }
}

@media (max-width: 1100px) {
    .btn {
        right: 50px !important;
    }
    .titlesInputfild {
        width: 28vw;
    }
    .leftContainer textarea {
        width: 29vw;
    }
    .addTask_categoryDiv {
        width: 28vw;
    }
    .assignedDiv {
        width: 28vw;
    }
    .assignedDiv {
        width: 28vw;
    }
    .rightContainer input {
        width: 32vw;
    }
    .leftContainer {
        width: 46%;
    }
    .addTask_categoryList {
        width: 91.4% !important;
        background-color: white;
    }
    .assignedToList {
        width: 91.4% !important;
        background-color: white;
    }
    .prioContainer {
        margin-right: 19px;
    }
}

@media (max-width: 1080px) {
    .addTask_categoryList {
        width: 92.2% !important;
        background-color: white;
    }
    .assignedToList {
        width: 92.2% !important;
        background-color: white;
    }
}

@media (max-width: 1060px) {
    .addTask_categoryList {
        width: 92.9% !important;
        background-color: white;
    }
    .assignedToList {
        width: 92.9% !important;
        background-color: white;
    }
}

@media (max-width: 1040px) {
    .addTask_categoryList {
        width: 93.6% !important;
        background-color: white;
    }
    .assignedToList {
        width: 93.6% !important;
        background-color: white;
    }
}

@media (max-width: 1020px) {
    .addTask_categoryList {
        width: 94.6% !important;
        background-color: white;
    }
    .assignedToList {
        width: 94.6% !important;
        background-color: white;
    }
    .prioContainer {
        margin-right: 17px;
    }
}

@media (max-width: 1000px) {
    .addTask_selectTaskCategory {
        font-size: 18px;
    }
    .addTask_categoryList {
        width: 95.6% !important;
        background-color: white;
    }
    .assignedToList {
        width: 95.6% !important;
        background-color: white;
    }
    .prioContainer {
        margin-right: 15px;
    }
}

@media (max-width: 980px) {
    .header {
        display: none !important;
    }
    .mobileText {
        display: block !important;
    }
    .flexContainer {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 0;
    }
    #btn {
        display: none;
    }
    .titlesInputfild {
        width: 81vw;
    }
    .leftContainer textarea {
        width: 82vw;
    }
    .addTask_categoryDiv {
        width: 80vw;
    }
    .assignedDiv {
        width: 82vw;
    }
    .assignedDiv {
        width: 80vw;
    }
    .rightContainer input {
        width: 82vw;
    }
    .middleLine {
        display: none;
    }
    .headerContent p {
        display: none;
    }
    .personLogIn {
        display: none;
    }
    .information {
        display: none;
    }
    .logOutButton {
        display: none;
    }
    .headline {
        display: block;
    }
    .mainContent {
        padding: 0;
        margin-left: 5%;
    }
    .prioContainer {
        width: 24vw;
    }
    .relativeContainer {
        margin-bottom: 15px;
    }
    #logoMobile {
        display: block !important;
    }
    #createTask {
        display: block !important;
    }
    .miniTemplate {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 12px;
        width: 147px;
        height: 51px;
    }
    .btnClear {
        display: none;
    }
    .addTask_categoryList {
        width: 202% !important;
        background-color: white;
    }
    .assignedToList {
        width: 202% !important;
        background-color: white;
    }
    .mainContents {
        overflow: scroll;
        height: 710px;
    }
    .prioContainer {
        padding: 10px;
        margin-right: 23px;
    }
    .selectionMessage {
        padding: 30px;
        width: 326px;
        height: 50px;
        left: 30%;
        font-size: 21px;
        text-align: center;
        top: 69%;
    }
}

@media (max-width: 950px) {
    .addTask_categoryList {
        width: 202.3% !important;
        background-color: white;
    }
    .assignedToList {
        width: 202.3% !important;
        background-color: white;
    }
}

@media (max-width: 900px) {
    .prioContainer {
        padding: 10px;
        margin-right: 20px;
    }
    .addTask_categoryList {
        width: 202.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 202.8% !important;
        background-color: white;
    }
}

@media (max-width: 850px) {
    .prioContainer {
        padding: 10px;
        margin-right: 18px;
    }
    .addTask_categoryList {
        width: 203.5% !important;
        background-color: white;
    }
    .assignedToList {
        width: 203.5% !important;
        background-color: white;
    }
}

@media (max-width: 800px) {
    .prioContainer {
        padding: 10px;
        margin-right: 16px;
    }
    .addTask_categoryList {
        width: 203.9% !important;
        background-color: white;
    }
    .assignedToList {
        width: 203.9% !important;
        background-color: white;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 326px;
        height: 50px;
        left: 25%;
        font-size: 21px;
        text-align: center;
        top: 69%;
    }
}

@media (max-width: 750px) {
    .prioContainer {
        padding: 10px;
        margin-right: 14px;
    }
    .addTask_categoryList {
        width: 204.7% !important;
        background-color: white;
    }
    .assignedToList {
        width: 204.7% !important;
        background-color: white;
    }
}

@media (max-width: 700px) {
    .prioContainer {
        padding: 10px;
        margin-right: 12px;
    }
    .addTask_categoryList {
        width: 205.6% !important;
        background-color: white;
    }
    .assignedToList {
        width: 205.6% !important;
        background-color: white;
    }
    .leftContainer textarea {
        width: 83vw;
    }
    .rightContainer input {
        width: 83vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 326px;
        height: 50px;
        left: 24%;
        font-size: 21px;
        text-align: center;
        top: 69%;
    }
}

@media (max-width: 650px) {
    .prioContainer {
        padding: 10px;
        margin-right: 10px;
    }
    .addTask_categoryList {
        width: 206.6% !important;
        background-color: white;
    }
    .assignedToList {
        width: 206.6% !important;
        background-color: white;
    }
    .leftContainer textarea {
        width: 83vw;
    }
    .rightContainer input {
        width: 83vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 326px;
        height: 50px;
        left: 22%;
        font-size: 21px;
        text-align: center;
        top: 69%;
    }
}

@media (max-width: 600px) {
    .prioContainer {
        padding: 10px;
        margin-right: 8px;
    }
    .addTask_categoryList {
        width: 207.5% !important;
        background-color: white;
    }
    .assignedToList {
        width: 207.5% !important;
        background-color: white;
    }
    .leftContainer textarea {
        width: 83vw;
    }
    .rightContainer input {
        width: 83vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 326px;
        height: 50px;
        left: 18%;
        font-size: 21px;
        text-align: center;
        top: 69%;
    }
}

@media (max-width: 550px) {
    .prioContainer {
        padding: 10px;
        margin-right: 6px;
    }
    .addTask_categoryList {
        width: 208.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 208.8% !important;
        background-color: white;
    }
    .leftContainer textarea {
        width: 83vw;
    }
    .rightContainer input {
        width: 83vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 326px;
        height: 50px;
        left: 12%;
        font-size: 21px;
        text-align: center;
        top: 69%;
    }
    .mainContainerHelp {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        background-color: rgba(240, 236, 236, 0.443);
    }
}

@media (max-width: 540px) {
    .addTask_categoryList {
        width: 213.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 213.8% !important;
        background-color: white;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 16px;
        width: 147px;
        height: 45px;
        font-size: 15px;
    }
    .assignedDiv {
        width: 83.2vw;
    }
    .addTask_categoryDiv {
        width: 83vw;
    }
    .leftContainer textarea {
        width: 86.5vw;
        font-size: 19px;
    }
    .titlesInputfild {
        width: 84vw;
        font-size: 19px;
    }
    .prioContainer {
        padding: 10px;
        margin-right: -2px;
        width: 36vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 229px;
        height: 20px;
        left: 26%;
        font-size: 16px;
        text-align: center;
        top: 69%;
    }
    .mainContents {
        overflow: scroll;
        height: 560px;
    }
    .rightContainer input {
        width: 87vw;
    }
}

@media (max-width: 525px) {
    .addTask_categoryList {
        width: 209.4% !important;
        background-color: white;
    }
    .assignedToList {
        width: 209.4% !important;
        background-color: white;
    }
}

@media (max-width: 500px) {
    .titlesInputfild {
        width: 83vw;
    }
    .leftContainer textarea {
        width: 85vw;
    }
    .addTask_categoryDiv {
        width: 81vw;
    }
    .assignedDiv {
        width: 78vw;
    }
    .assignedDiv {
        width: 81vw;
    }
    .rightContainer input {
        width: 85vw;
    }
    .prioContainer {
        padding: 10px;
        margin-right: 8px;
        width: 36vw;
    }
    .addTask_categoryList {
        width: 212.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 212.8% !important;
        background-color: white;
    }
}

@media (max-width: 480px) {
    .addTask_categoryList {
        width: 213.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 213.8% !important;
        background-color: white;
    }
}

@media (max-width: 460px) {
    .addTask_categoryList {
        width: 214.5% !important;
        background-color: white;
    }
    .assignedToList {
        width: 214.5% !important;
        background-color: white;
    }
}

@media (max-width: 440px) {
    .addTask_categoryList {
        width: 215.2% !important;
        background-color: white;
    }
    .assignedToList {
        width: 215.2% !important;
        background-color: white;
    }
}

@media (max-width: 420px) {
    .addTask_categoryList {
        width: 215.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 215.8% !important;
        background-color: white;
    }
}

@media (max-width: 414px) {
    .addTask_categoryList {
        width: 213.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 213.8% !important;
        background-color: white;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 16px;
        width: 147px;
        height: 45px;
        font-size: 15px;
    }
    .assignedDiv {
        width: 80vw;
    }
    .addTask_categoryDiv {
        width: 80vw;
    }
    .leftContainer textarea {
        width: 84.5vw;
        font-size: 19px;
    }
    .titlesInputfild {
        width: 82vw;
        font-size: 19px;
    }
    .prioContainer {
        padding: 10px;
        margin-right: 3px;
        width: 36vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 229px;
        height: 20px;
        left: 18%;
        font-size: 16px;
        text-align: center;
        top: 69%;
    }
    .mainContents {
        overflow: scroll;
        height: 734px;
    }
}

@media (max-width: 412px) {
    .addTask_categoryList {
        width: 214% !important;
        background-color: white;
    }
    .assignedToList {
        width: 214% !important;
        background-color: white;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 16px;
        width: 147px;
        height: 45px;
        font-size: 15px;
    }
    .assignedDiv {
        width: 80vw;
    }
    .addTask_categoryDiv {
        width: 80vw;
    }
    .leftContainer textarea {
        width: 84.5vw;
        font-size: 19px;
    }
    .titlesInputfild {
        width: 82vw;
        font-size: 19px;
    }
    .prioContainer {
        padding: 10px;
        margin-right: 3px;
        width: 36vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 229px;
        height: 20px;
        left: 18%;
        font-size: 16px;
        text-align: center;
        top: 69%;
    }
    .mainContents {
        overflow: scroll;
        height: 754px;
    }
}

@media (max-width: 400px) {
    .prioContainer {
        font-size: 18px;
        margin-right: 10px;
    }
    .addTask_selectTaskCategory {
        font-size: 18px;
    }
    .addTask_categoryList {
        width: 217.6% !important;
        background-color: white;
    }
    .assignedToList {
        width: 217.6% !important;
        background-color: white;
    }
}

@media (max-width: 393px) {
    .mainContents {
        overflow: scroll;
        height: 690px;
    }
    .addTask_categoryList {
        width: 215.5% !important;
        background-color: white;
    }
    .assignedToList {
        width: 215.5% !important;
        background-color: white;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 16px;
        width: 147px;
        height: 45px;
        font-size: 15px;
    }
    .assignedDiv {
        width: 80vw;
    }
    .addTask_categoryDiv {
        width: 80vw;
    }
    .leftContainer textarea {
        width: 84.5vw;
        font-size: 19px;
    }
    .titlesInputfild {
        width: 82vw;
        font-size: 19px;
    }
    .prioContainer {
        padding: 10px;
        margin-right: 3px;
        width: 36vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 229px;
        height: 20px;
        left: 16%;
        font-size: 16px;
        text-align: center;
        top: 69%;
    }
}

@media (max-width: 390px) {
    .mainContents {
        overflow: scroll;
        height: 682px;
    }
    .addTask_categoryList {
        width: 215.8% !important;
        background-color: white;
    }
    .assignedToList {
        width: 215.8% !important;
        background-color: white;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 16px;
        width: 147px;
        height: 45px;
        font-size: 15px;
    }
    .assignedDiv {
        width: 80vw;
    }
    .addTask_categoryDiv {
        width: 80vw;
    }
    .leftContainer textarea {
        width: 84.5vw;
        font-size: 19px;
    }
    .titlesInputfild {
        width: 82vw;
        font-size: 19px;
    }
    .prioContainer {
        padding: 10px;
        margin-right: 3px;
        width: 36vw;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 229px;
        height: 20px;
        left: 16%;
        font-size: 16px;
        text-align: center;
        top: 69%;
    }
}

@media (max-width: 375px) {
    .prioContainer {
        font-size: 16px;
        margin-right: 2px;
    }
    .addTask_selectTaskCategory {
        font-size: 16px;
    }
    .addTask_categoryList {
        width: 216.5% !important;
        background-color: white;
        font-size: 16px;
    }
    .assignedToList {
        width: 216.5% !important;
        background-color: white;
        font-size: 19px;
    }
    .mainContents {
        overflow: scroll;
        height: 507px;
    }
    .assignedDiv {
        width: 80vw;
    }
    .addTask_categoryDiv {
        width: 80vw;
    }
    .titlesInputfild {
        width: 82vw;
        font-size: 16px;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 16px;
        width: 147px;
        height: 45px;
        font-size: 15px;
    }
    .assignedToArea {
        height: 27px;
        font-size: 16px;
    }
    .taskAssignedTo {
        font-size: 16px;
        margin: 10px 19px;
    }
    .rightContainer input {
        font-size: 16px;
    }
    .leftContainer textarea {
        width: 84.5vw;
        font-size: 16px;
    }
    .addTask_titleInputFields {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .headline h1 {
        padding-right: 30px;
        font-size: 47px;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .mobileText {
        font-size: 16px;
    }
    .selectionMessage {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 229px;
        height: 20px;
        left: 14%;
        font-size: 16px;
        text-align: center;
        top: 69%;
    }
}

@media (max-width: 360px) {
    .prioContainer {
        font-size: 16px;
        margin-right: 2px;
    }
    .addTask_selectTaskCategory {
        font-size: 16px;
    }
    .addTask_categoryList {
        width: 215.7% !important;
        background-color: white;
        font-size: 16px;
    }
    .assignedToList {
        width: 215.7% !important;
        background-color: white;
        font-size: 19px;
    }
    .mainContents {
        overflow: scroll;
        height: 580px;
    }
    .assignedDiv {
        width: 79.3vw;
    }
    .addTask_categoryDiv {
        width: 79.3vw;
    }
    .titlesInputfild {
        width: 81vw;
        font-size: 16px;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 16px;
        width: 147px;
        height: 45px;
        font-size: 15px;
    }
    .assignedToArea {
        height: 27px;
        font-size: 16px;
    }
    .taskAssignedTo {
        font-size: 16px;
        margin: 10px 19px;
    }
    .rightContainer input {
        font-size: 16px;
    }
    .leftContainer textarea {
        width: 84.5vw;
        font-size: 16px;
    }
    .addTask_titleInputFields {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .headline h1 {
        padding-right: 30px;
        font-size: 47px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .mobileText {
        font-size: 16px;
    }
    .selectionMessage {
        padding: 30px;
        width: 229px;
        height: 20px;
        left: 10%;
        font-size: 16px;
        text-align: center;
        top: 69%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 280px) {
    .addTask_categoryList {
        width: 212.6% !important;
        background-color: white;
    }
    .assignedToList {
        width: 212.8% !important;
        background-color: white;
    }
    .btnCreate {
        position: fixed;
        right: 22px;
        top: 16px;
        width: 147px;
        height: 45px;
        font-size: 15px;
    }
    .assignedDiv {
        width: 75.3vw;
    }
    .addTask_categoryDiv {
        width: 75vw;
    }
    .leftContainer textarea {
        width: 81.5vw;
        font-size: 19px;
    }
    .titlesInputfild {
        width: 77vw;
        font-size: 19px;
    }
    .prioContainer {
        padding: 10px;
        margin-bottom: 10px;
        margin-right: 0px;
        width: 40vw;
    }
    .prio {
        display: block;
    }
    .selectionMessage {
        padding: 30px;
        width: 186px;
        height: 9px;
        left: 6%;
        font-size: 16px;
        text-align: center;
        top: 69%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainContents {
        overflow: scroll;
        height: 494px;
    }
    .rightContainer input {
        width: 83vw;
    }
}