/* Right Container*/

body {
    margin: 0;
}

.rightContent {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.headerContent p {
    padding: 20px;
    padding-left: 100px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.personLogIn {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.headerContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mainContent {
    padding-left: 100px;
    padding-right: 100px;
}


/* scc for Board */

.headerUnderRightMenuHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerUnderRightMenuHeaderHeadline {
    font-weight: bold;
    font-size: 61px;
    color: #000000;
}

.headerUnderRightMenuHeaderInputfield {
    width: 185px;
    height: 40px;
    margin-right: 20px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-right: 1px solid #A8A8A8;
    outline: none;
}

.headerUnderRightMenuHeaderButton {
    height: 51px;
    width: 137px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerUnderRightMenuHeaderButton:hover {
    background-color: #29ABE2;
    border: none;
}

.addTaskImage {
    padding-left: 15px;
}

.containerInputfield {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    width: 251px;
    height: 51px;
    margin-right: 50px;
    margin-left: 515px;
}

.containerInputfieldImage {
    position: absolute;
    right: 10px;
}

.containerTodoList {
    display: flex;
}

.containerTodoListTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

.containerTodoListTodoTodo {
    font-size: 21px;
    font-weight: 700px;
}

.containerTodoListProgress {
    font-size: 21px;
    font-weight: 700px;
    margin-left: 75px;
}

.containerTodoListFeedback {
    font-size: 21px;
    font-weight: 700px;
    margin-left: 75px;
}

.containerTodoListDone {
    font-size: 21px;
    font-weight: 700px;
    margin-left: 75px;
}

.d-none {}


/* css for add task*/