/* Right Container*/

body {
    margin: 0;
}

.rightContent {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 89px;
}

.headerContent p {
    padding: 20px;
    padding-left: 100px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.personLogIn {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.headerContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mainContent {
    padding-left: 6%;
    padding-right: 5%;
}


/* scc for Board */

.headerUnderRightMenuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerUnderRightMenuHeaderHeadline {
    font-weight: bold;
    font-size: 61px;
    color: #000000;
}

.headerUnderRightMenuHeaderInputfield {
    width: 185px;
    height: 40px;
    margin-right: 20px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-right: 1px solid #A8A8A8;
    outline: none;
}

.headerUnderRightMenuHeaderButton {
    height: 51px;
    width: 137px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.headerUnderRightMenuHeaderButton:hover {
    background-color: #29ABE2;
    border: none;
}

.addTaskImage {
    padding-left: 15px;
}

.containerInputfield {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    width: 251px;
    height: 51px;
    margin-right: 50px;
    margin-left: 550px;
}

.containerInputfieldImage {
    position: absolute;
    right: 10px;
}

.containerTodoList {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: sticky;
    top: 300px;
}

.containerTodoListTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-left: 10px;
}

.containerTodoListTodoTodo {
    font-size: 21px;
    font-weight: 700px;
    cursor: pointer;
}

.containerTodoListProgress {
    font-size: 21px;
    font-weight: 700px;
    cursor: pointer;
}

.containerTodoListFeedback {
    font-size: 21px;
    font-weight: 700px;
    cursor: pointer;
}

.containerTodoListDone {
    font-size: 21px;
    font-weight: 700px;
    cursor: pointer;
}

.containerTodo {
    width: 250px;
    min-height: 470px;
    margin-top: 10px;
}

.containerBlock {
    padding: 20px;
    background-color: white;
    word-wrap: break-word;
    margin-bottom: 20px;
    border-radius: 30px;
    height: fit-content;
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.plusButtonTodoList {
    border-radius: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-color: #2A3647;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plusButtonTodoList:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.assignTask {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -10px;
}

.assignTaskSelect {
    display: flex;
    justify-content: space-between;
}

.assignTaskSelectName {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 260px;
    margin-left: 10px;
}

.assignTaskSelectImage {
    margin-right: 0px;
    margin-top: 16px;
}

.divAssignTask {
    width: 35px;
    height: 35px;
    padding: 6px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    color: white;
}

.checkTasking {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.checkTaskSmall {
    position: relative;
    background-color: #FFFFFF;
    width: 623px;
    height: 87vh;
    border-radius: 30px;
    overflow: scroll;
}

.checkTaskSmall::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.toEditTaskMainDiv {
    position: relative;
    background-color: #FFFFFF;
    width: 623px;
    height: 87vh;
    border-radius: 30px;
}

.closes2 {
    position: absolute;
    top: 20px;
    left: 570px;
    color: #5f5e5e;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    font-family: none;
}

.closes2:hover,
.closes2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.openCheckTaskBigDiv {
    margin: 60px;
}

.openCheckTasksCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 40px;
    border-radius: 8px;
}

.openCheckTasksCategoryTesx {
    font-size: 27px;
    color: white;
}

.openCheckTasksTitle {
    width: 523px;
}

.openCheckTasksTitleTest {
    font-size: 61px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.openCheckTasksDescription {
    width: 523px;
    font-size: 21px;
}

.openCheckTasksDescriptionText {
    font-size: 21px;
    word-wrap: break-word;
}

.openCheckTasksDateDiv {
    display: flex;
    align-items: center;
    height: 50px;
}

.openCheckTasksDateText {
    font-size: 21px;
    font-weight: bold;
    margin-right: 30px;
}

.openCheckTasksDateFormat {
    font-size: 21px;
}

.openCheckTasksPrioDiv {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
}

.openCheckTasksPrioText {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-right: 30px;
}

.openCheckTasksPrioTextDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 33px;
    border-radius: 10px;
}

.openCheckTasksPrioTextText {
    font-size: 21px;
    margin-right: 10px;
}

.openCheckTasksAssignedToSmallDiv {
    display: flex;
}

.openCheckTasksAssignedToTitle {
    font-size: 21px;
    font-weight: bold;
}

.openCheckAssignTask {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.openCheckDivAssignTask {
    width: 35px;
    height: 35px;
    padding: 6px;
    background-color: aqua;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    color: white;
}

.openCheckAssignTaskDivFullName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.openCheckAssignTaskFullName {
    display: flex;
    align-items: center;
    width: 200px;
    height: 21px;
    margin-left: 20px;
    font-size: 21px;
}

.openCheckTasksAssignedToBoxFullName {
    display: block;
    margin-top: -5px;
}

.toEditopenCheckTaskBigDiv {
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 76px;
}

.toEditTaskButton {
    width: 57px;
    height: 57px;
    background: #2A3647;
    border-radius: 10px;
    position: absolute;
    top: 650px;
    left: 530px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toEditTaskButton:hover {
    background-color: #29ABE2;
}

.toEditTaskTitelInput {
    width: 432px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
}

.toEditTaskTitleDiv {
    display: flex;
    flex-direction: column;
}

.toEditTaskDescriptionInput {
    width: 432px;
    height: 70px;
    border-radius: 10px;
    font-size: 16px;
}

.toEditTaskSaveButton {
    width: 75px;
    height: 57px;
    background: #2A3647;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 665px;
    left: 510px;
    cursor: pointer;
}

.toEditTaskSaveButton:hover {
    background-color: #29ABE2;
}

.deleteTaskButton {
    width: 57px;
    height: 57px;
    background: #2A3647;
    border-radius: 10px;
    position: absolute;
    top: 650px;
    left: 450px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteTaskButton:hover {
    background-color: #29ABE2;
}

.deleteTaskImage {
    width: 30px;
    height: 30px;
}

.toEditTaskButtonText {
    color: white;
    font-size: 19px;
    margin-right: 10px;
}

.assignedToListToEdit {
    margin-top: 0px;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0px;
    list-style-type: none;
    height: 133px;
    width: 435px;
    overflow: scroll;
    overflow-x: hidden;
}

.assignedDivBorderToEdit {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none !important;
}

.assignedContactsSelectToEdit {
    font-size: 21px;
}

.assignedAddContactToEdit {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.openCheckboxSubtasks {
    max-width: 25px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openSubtasksComent {
    padding-left: 15px;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.progressContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.progressBarBig {
    width: 80px !important;
    height: 8px;
    background-color: #f4f4f4;
    border-radius: 2px;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    background-color: #29ABE2;
    border-radius: 2px;
}

.progressText {
    white-space: nowrap;
}

.askDeleteTask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.deleteTaskTesx {
    font-size: 21px;
}

.deleteTaskAnswer {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    cursor: pointer;
    margin: 10px;
}

.bigDivDeleteTask {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}


/* Area for render Tasks */

.containerBlock {
    padding: 20px;
    background-color: white;
    word-wrap: break-word;
    margin-bottom: 20px;
    border-radius: 30px;
    height: fit-content;
    cursor: pointer;
}

@media(max-width: 1500px) {
    .containerInputfield {
        margin-left: 450px;
    }
}

@media(max-width: 1450px) {
    .containerInputfield {
        margin-left: 380px;
    }
}

@media(max-width: 1370px) {
    .containerInputfield {
        margin-left: 320px;
    }
    .containerTodoList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media(max-width: 1310px) {
    .containerInputfield {
        margin-left: 300px;
    }
}

@media(max-width: 1270px) {
    .containerTodoList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerInputfield {
        margin-left: 250px;
    }
}

@media(max-width: 1215px) {
    .containerTodoList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerInputfield {
        margin-left: 200px;
    }
}

@media(max-width: 1160px) {
    .containerTodoList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerInputfield {
        margin-left: 150px;
    }
}

@media(max-width: 1105px) {
    .containerTodoList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerInputfield {
        margin-left: 100px;
    }
}

@media(max-width: 1050px) {
    .containerTodoList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerInputfield {
        margin-left: 50px;
    }
}