/* Right Container*/

body {
    margin: 0;
}

.rightContent {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 89px;
}

.headerContent p {
    padding: 20px;
    padding-left: 100px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.personLogIn {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.headerContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mainContent {
    padding-left: 6%;
    padding-right: 5%;
}


/* scc for Board */

.headerUnderRightMenuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerUnderRightMenuHeaderHeadline {
    font-weight: bold;
    font-size: 61px;
    color: #000000;
}

.headerUnderRightMenuHeaderInputfield {
    width: 185px;
    height: 40px;
    margin-right: 20px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-right: 1px solid #A8A8A8;
    outline: none;
}

.headerUnderRightMenuHeaderButton {
    height: 51px;
    width: 137px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.headerUnderRightMenuHeaderButton:hover {
    background-color: #29ABE2;
    border: none;
}

.addTaskImage {
    padding-left: 15px;
}

.containerInputfield {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    width: 251px;
    height: 51px;
    margin-right: 50px;
    margin-left: 550px;
}

.containerInputfieldImage {
    position: absolute;
    right: 10px;
}

.containerTodoList {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: sticky;
    top: 300px;
}

.containerTodoListTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-left: 10px;
}

.containerTodoListTodoTodo {
    font-size: 21px;
    font-weight: 700px;
    cursor: pointer;
}

.containerTodoListProgress {
    font-size: 21px;
    font-weight: 700px;
    cursor: pointer;
}

.containerTodoListFeedback {
    font-size: 21px;
    font-weight: 700px;
    cursor: pointer;
}

.containerTodoListDone {
    font-size: 21px;
    font-weight: 700px;
    cursor: pointer;
}

.containerTodo {
    width: 250px;
    height: 300px;
    margin-top: 10px;
}

.containerBlock {
    padding: 20px;
    background-color: white;
    word-wrap: break-word;
    margin-bottom: 20px;
    border-radius: 30px;
    height: fit-content;
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.plusButtonTodoList {
    border-radius: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-color: #2A3647;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plusButtonTodoList:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.assignTask {
    display: flex;
    align-items: center;
}

.divAssignTask {
    width: 35px;
    height: 35px;
    padding: 6px;
    background-color: aqua;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkTasking {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.checkTaskSmall {
    background-color: #FFFFFF;
    width: 623px;
    height: 80vh;
    border-radius: 30px;
    margin-left: 230px;
    margin-top: 70px;
}

.closes2 {
    position: absolute;
    top: 120px;
    right: 400px;
    color: #5f5e5e;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    font-family: none;
}

.closes2:hover,
.closes2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}