body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.rightContent {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.headerContent p {
    padding: 20px;
    padding-left: 100px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.personLogIn {
    object-fit: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.headerContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mainContent {
    display: flex;
}


.contactList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    box-shadow: 4px 0px 6px rgb(0 0 0 / 8%);
    width: 35%;
    height: 89.6vh;
    left: 48px;
    top: 2px;
    background: #FFFFFF;
    overflow: scroll;
    overflow-x: hidden;
}

.contactList::-webkit-scrollbar {
    width: 10px;
}

.contactList::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

.contactList::-webkit-scrollbar-button:single-button {
    border-style: solid;
    height: 13px;
    width: 16px;
}

.contactList::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-color: transparent transparent darkgrey transparent;
}

.contactList::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent darkgrey transparent;
}

.contactList::-webkit-scrollbar-button:single-button:vertical:increment {
    border-color: darkgrey transparent transparent transparent;
}

.contactList::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: darkgrey transparent transparent transparent;
}

.letter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.letter p {
    font-weight: 400;
    font-size: 21px;
    padding-left: 20px;
}

.letterUnderline {
    width: 100%;
    height: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.contactDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    gap: 35px;
    width: 300px;
    height: 79px;
    cursor: pointer;
    border-radius: 10px;
}

.hover:hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border-radius: 10px;
}

.bg-blue {
    background-color: #2A3647;
}

.border {
    border: 4px solid;
}

.clr-white {
    color: white;
}

.contactLetter {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100%;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.contactName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: auto;
    height: 49px;
}

.email {
    margin: 0;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #007CEE;
}

.name {
    margin: 0;
    font-size: 19px;
    font-weight: 400;
}

.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightArea {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.showContactHeader {
    width: 569px;
    height: 73px;
    left: 743px;
    top: 171px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.line {
    height: 59px;
    border: 2px solid #29ABE2;
    background-color: #29ABE2;
}

.showContactHeader p {
    font-size: 27px;
}

.showContactHeaderH1 {
    font-size: 61px;
    margin: 0;
}

.contactBox {
    width: 115%;
    height: 364px;
    margin-top: 60px;
    position: relative;
}

.animation {
    animation: anim 0.4s normal both;
}

@keyframes anim {
    from {
        right: -1000px;
    }

    to {
        right: 0px;
    }
}

.d-none {
    display: none;
}

.contact {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 54px;
}

.contactP {
    font-size: 47px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
}

.contactNameRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: auto;
    height: 49px;
}

.contactNameRightP {
    margin: 0;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
}

.addTaskBox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.addTask {
    margin: 0;
    font-size: 16px;
    color: #29ABE2;
}

.contactInfo {
    display: flex;
    gap: 59px;
}

.contactInfoP {
    font-size: 21px;
}

.contactInfoEdit {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.contactInfoEdit img {
    width: 20px;
    height: 30px;
}

.contactInfoEditP {
    font-size: 16px;
}

.phoneMailBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    width: 140px;
    height: 128px;
    bottom: 0;
    position: absolute;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    height: 53px;
}

.mailAdress {
    margin: 0;
    color: #007CEE;
}

.mailP {
    font-weight: bold;
    margin: 0;
}

.phoneNumber {
    margin: 0;
}

.new-contact {
    padding: 4px 0px;
    width: 193px;
    height: 53px;
    background: #2A3647;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.new-contact-btn {
    margin: 0;
}

.new-contact:hover {
    background-color: #29ABE2;
    transition: 125ms;
    transform: scale(1.01);
    box-shadow: 0px 8px 15px -7px gray;
}

.newContactBoxBckgr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.08);
    position: fixed;
    left: 0;
    top: 0;
}

.newContactBox {
    width: 1212px;
    height: 594px;
    background: #FFFFFF;
    border-radius: 30px;
    position: relative;
}

.closeImg {
    position: absolute;
    right: 05%;
    top: 5%;
    cursor: pointer;
    z-index: 1;
}

.leftContent {
    background: #2A3647;
    position: absolute;
    width: 35%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding-left: 5%;
}

.leftContent h1 {
    font-size: 300%;
    color: #FFFFFF;
    margin: 0;
}

.leftContent p {
    font-size: 150%;
    color: #FFFFFF;
    margin: 0;
}

.newContactBoxLine {
    width: 20%;
    border-bottom: 3px solid #29ABE2;
}

.contactRightContent {
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
}

.contactRightContentImg {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 10%;
    background-color: #D1D1D1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputFieldSection {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    top: 25%;
}

.inputField input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
}

#input1 {
    background: url('/asseds/img/person.png') no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

#input2 {
    background: url('/asseds/img/email.png') no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

#input3 {
    background: url('/asseds/img/phone-line.png') no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

#input1Filled {
    background: url('/asseds/img/person.png') no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

#input2Filled {
    background: url('/asseds/img/email.png') no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

#input3Filled {
    background: url('/asseds/img/phone-line.png') no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.inputField {
    position: relative;
}

.inputFieldIMG {
    position: absolute;
    height: 20px;
    width: 22px;
    right: 5%;
    top: 15%;
}

.buttons {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 422px;
    height: 51px;
    margin-top: 7%;
    position: initial;
    bottom: 10%;
    right: 10%;
}

.buttons a {
    text-decoration: none;
}

.SaveButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 35px;
    width: 422px;
    height: 51px;
    margin-top: 7%;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.log-in-btn {
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 208px;
    height: 51px;
    background: #2A3647;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
}

.saveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 143px;
    height: 61px;
    background: #2A3647;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
}

.saveButton:hover {
    background-color: #29ABE2;
    transition: 125ms;
    transform: scale(1.01);
    box-shadow: 0px 8px 15px -7px gray;
}

.buttonImg {
    background: url('/asseds/img/check.png') no-repeat;
    margin: 0;
    width: 200px;
    background-position-x: 90%;
    background-position-y: 35%;
}

.log-in-btn:hover {
    background-color: #29ABE2;
    transition: 125ms;
    transform: scale(1.01);
    box-shadow: 0px 8px 15px -7px gray;
}

.log-in-guest {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    width: 136px;
    height: 51px;
    border: 1px solid #2A3647;
    border-radius: 8px;
    color: #2A3647;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    background: url('/asseds/img/cross.png') no-repeat;
    background-position-x: 80%;
    background-position-y: 49%;
}

.log-in-guest:hover {
    border-color: #29ABE2;
    color: #29ABE2;
    transition: 125ms;
    transform: scale(1.01);
    box-shadow: 0px 8px 15px -7px gray;
    background: url('/asseds/img/bluecross.png') no-repeat;
    background-position-x: 80%;
    background-position-y: 45%;
}

.contactCreated {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: fixed;
    left: 50%;
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    animation: contactAnim 400ms normal forwards;
}

@keyframes contactAnim {
    from {
        bottom: -3000px;
    }

    to {
        bottom: 20%;
    }
}