body {
    margin: 0;
}

.rightContent {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5 !important;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 79px;
}

.logOutButtonSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 2%;
    width: 130px;
    height: 53px;
    background: #2A3647;
    border-radius: 20px 0px 20px 20px;
    color: #CDCDCD;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logOutBackgroundSummary {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.logoMobile {
    width: 30px;
    height: 30px;
    /* padding-left: 20px; */
    /* padding-top: 20px; */
}

.headerContent p {
    padding: 20px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.kanban-mobile {
    border-bottom: none !important;
    display: none !important;
    margin-top: 100px !important;
}

.headline h2 {
    display: none;
}

.personLogIn {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.headerContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


/* Hier beginnt der Content*/

.headline {
    display: flex;
    margin-left: 10%;
}

.headline h1 {
    font-size: 70px;
    padding-right: 30px;
    border-right: 3px solid #29ABE2;
    margin-bottom: 0;
    margin-top: 20px;
}

.headline p {
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
    padding-bottom: 10px;
}

.mainContent {
    display: flex;
}

.left-Container {
    width: 60%;
    margin-left: 10%;
    margin-top: 10px;
}

.right-Container {
    width: 40%;
    margin-right: 4%;
}

.leftContent {
    width: 50%;
    margin-left: 10%;
}

.taskContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.taskContainer a {
    text-decoration: none;
    color: black;
}

.taskContainer div {
    text-align: center;
}

.boardContainer {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 100px;
    height: 100px;
}

.boardContainer div {
    font-size: 50px;
    padding-top: 0;
}

.boardContainer p {
    margin: 0;
    font-size: 20px;
}

.boardContainer:hover {
    cursor: pointer;
    transform: scale(1);
    color: white;
    background-color: #2A3647;
}

.deadlineContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.deadlineContainer a {
    text-decoration: none;
    color: black;
}

.deadlineContainer img {
    width: 90px;
    height: 90px;
    padding-right: 10px;
}

.deadlineContainer div {
    font-size: 40px;
    text-align: center;
    padding-top: 0;
}

.deadlineContainer p {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 30px;
}

.deadlineContainer:hover {
    cursor: pointer;
    transform: scale(1);
    color: yellow;
    background-color: #2A3647;
}

.deadlineContainer a:hover {
    cursor: pointer;
    transform: scale(1);
    color: white;
    background-color: #2A3647;
}

.deadlineTasks {
    display: flex;
    margin: 10px;
}

.deadlinetask p {
    margin: 0;
}

.deatlineDate {
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid lightgray;
}

.date {
    font-size: 30px !important;
    padding-left: 25px;
}

.finishTask {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.finishTask a {
    text-decoration: none;
    color: black;
}

.finishContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid lightgray;
}

.finishContainer div div {
    text-align: center;
    font-size: 40px;
    padding-top: 0;
    /* padding-right: 25px; */
}

.finishContainer p {
    margin: 0;
    font-size: 19px;
    padding-right: 25px;
}

.finishContainer img {
    padding-right: 10px;
    height: 80px;
    width: 80px;
    padding-left: 25px;
    padding-right: 25px;
}

.finishContainer:hover {
    cursor: pointer;
    transform: scale(1);
    color: white;
    background-color: #2A3647;
}

.greet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    font-size: 50px;
    margin-left: 5%;
    text-align: center;
}

.greet p {
    margin-top: 0;
    margin-bottom: 0;
    color: #29ABE2;
}


/*Ab hier Help Container*/

.mainContainerHelpSummary {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    background-color: #F5F5F5;
    overflow: scroll;
    height: 652px;
}

.mainContainerHelpSummary::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.d-none {
    display: none;
}

.headerHelpSummary {
    display: flex;
    justify-content: space-between;
}

.headerHelpSummary h1 {
    margin-top: 0;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.headerHelpSummary img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 22px;
}

.flexContainer {
    display: flex;
}

.flexContainer p {
    padding-left: 10px;
    margin-top: 0;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.buttonSectionBackground {
    background-color: #091931;
}

.help {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 225ms ease-in-out;
}

.help:hover {
    border-bottom: 2px solid white;
    transition: all 225ms ease-in-out;
}

.legalNotice {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 225ms ease-in-out;
}

.legalNotice:hover {
    border-bottom: 2px solid white;
    transition: all 225ms ease-in-out;
}

.dataProtectionLogOutButton {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 225ms ease-in-out;
}

.dataProtectionLogOutButton:hover {
    border-bottom: 2px solid white;
    transition: all 225ms ease-in-out;
}

.logOutSummary {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 225ms ease-in-out;
}

.logOutSummary:hover {
    border-bottom: 2px solid white;
    transition: all 225ms ease-in-out;
}

.legalNiticeSummery {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    background-color: #F5F5F5;
    overflow: scroll;
    height: 652px;
}

.legalNiticeSummery::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.backToSumaary {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 22px;
    right: 60px !important;
    z-index: 3 !important;
}

@media(max-width: 1500px) {
    .greet {
        margin-top: 204px;
        font-size: 46px;
    }
}

@media(max-width: 1320px) {
    .date {
        font-size: 29px !important;
    }
}

@media(max-width: 1307px) {
    .date {
        font-size: 27px !important;
    }
}

@media(max-width: 1290px) {
    .left-Container {
        width: 80%;
    }
    .date {
        font-size: 27px !important;
    }
    .deadlineContainer p {
        font-size: 18px !important;
    }
    .greet {
        margin-top: 212px;
        font-size: 39px;
    }
}

@media(max-width: 1270px) {
    .greet {
        margin-top: 217px;
        font-size: 36px;
    }
}

@media(max-width: 1222px) {
    .greet {
        margin-top: 217px;
        font-size: 36px;
    }
}

@media(max-width: 1198px) {
    .greet {
        margin-top: 200px;
        font-size: 35px;
    }
    .boardContainer {
        padding: 20px;
    }
}

@media(max-width: 1162px) {
    .greet {
        margin-top: 200px;
        font-size: 34px;
    }
    .boardContainer {
        padding: 20px;
    }
}

@media(max-width: 1155px) {
    .greet {
        margin-top: 200px;
        font-size: 32px;
    }
    .boardContainer {
        padding: 20px;
    }
}

@media(max-width: 1125px) {
    .greet {
        margin-top: 207px;
        font-size: 32px;
    }
    .deatlineDate {
        padding-left: 10px;
    }
}

@media(max-width: 1100px) {
    .headline p {
        font-size: 25px;
    }
    .greet {
        margin-top: 194px;
        font-size: 32px;
    }
    .date {
        font-size: 18px !important;
    }
    .deadlineContainer p {
        font-size: 19px !important;
    }
    .boardContainer {
        padding: 15px;
    }
    .left-Container {
        margin-left: 5%;
    }
    .finishContainer {
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        padding: 15px;
    }
    .finishContainer img {
        padding-left: 10px;
        padding-right: 10px;
    }
    .finishContainer p {
        padding-right: 10px;
    }
}

@media(max-width: 1032px) {
    .greet {
        margin-top: 198px;
        font-size: 31px;
    }
}

@media(max-width: 1007px) {
    .greet {
        margin-top: 198px;
        font-size: 30px;
    }
}

@media(max-width: 1000px) {
    .headline p {
        font-size: 20px;
    }
    .headline p {
        margin-bottom: 14px;
    }
}

@media(max-width: 999px) {
    .boardContainer p {
        font-size: 18px;
    }
    .deadlineContainer p {
        font-size: 18px !important;
    }
}

@media(max-width: 980px) {
    .right-Container {
        display: none;
    }
    .headerContent p {
        display: none;
    }
    #legalNotice {
        display: block;
    }
    #helpp {
        display: block;
    }
    .dataProtectionLogOutButton {
        display: block !important;
    }
    .information {
        display: none !important;
    }
    .headline {
        flex-direction: column;
    }
    .headline h2 {
        display: contents;
    }
    .headline h1 {
        border: none;
        font-size: 50px;
        margin-top: 5px;
    }
    .mainContent {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        background-color: #F5F5F5 !important;
    }
    .headline p {
        border-bottom: 3px solid #29ABE2;
        padding-left: 0;
        margin-top: 5px;
    }
    .headerContentRight {
        justify-content: space-between;
    }
    .left-Container {
        margin-left: 0;
        width: 100%;
        margin-top: 0;
    }
    .deadlineContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 60px;
    }
    .taskContainer {
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
    }
    .finishTask {
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 60px;
    }
    .finishContainer {
        margin-top: 0;
        padding-bottom: 10px;
    }
    .kanban-mobile {
        display: contents !important;
    }
    .boardContainer p {
        font-size: 16px;
    }
    .deatlineDate {
        padding-left: 80px;
    }
    .deatlineUrgent {
        padding-right: 50px;
    }
    .logOutButtonSummary {
        height: 120px;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-left: 10px;
    }
}

@media(max-width: 940px) {
    .date {
        font-size: 16px !important;
    }
    .deatlineDate {
        padding-left: 64px;
    }
    .deatlineUrgent {
        padding-right: 37px;
    }
}

@media(max-width: 912px) {
    .taskContainer {
        margin-top: 40px;
    }
    .deadlineContainer {
        margin-top: 60px;
    }
    .finishTask {
        margin-top: 60px;
    }
}

@media(max-width: 850px) {
    .deatlineDate {
        padding-left: 54px;
    }
    .deatlineUrgent {
        padding-right: 37px;
    }
}

@media(max-width: 770px) {
    .deatlineDate {
        padding-left: 39px;
    }
    .deatlineUrgent {
        padding-right: 20px;
    }
}

@media(max-width: 730px) {
    .deatlineDate {
        padding-left: 30px;
    }
    .deatlineUrgent {
        padding-right: 20px;
    }
}

@media(max-width: 690px) {
    .deatlineDate {
        padding-left: 27px;
    }
    .deatlineUrgent {
        padding-right: 15px;
    }
}

@media(max-height: 667px) {
    .mainContainerHelpSummary {
        overflow: scroll;
        height: 478px !important;
    }
}

@media(max-width: 622px) {
    .deatlineDate {
        padding-left: 17px;
    }
    .deatlineUrgent {
        padding-right: 10px;
    }
    /* .date {
        font-size: 15px !important;
    } */
}

@media(max-width: 550px) {
    .mainContent {
        margin-top: 20px;
    }
    .boardContainer p {
        font-size: 14px !important;
    }
    .deadlineContainer p {
        font-size: 14px !important;
    }
    .deadlineContainer img {
        width: 60px;
        height: 60px;
        margin-top: 20px;
    }
    .finishContainer img {
        width: 60px;
        height: 60px;
    }
    .deadlineContainer img {
        width: 40px;
        height: 40px;
    }
    .finishContainer img {
        width: 40px;
        height: 40px;
    }
    .boardContainer {
        padding: 10px;
    }
    .mainContainerHelpSummary {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        background-color: #F5F5F5;
        overflow: scroll;
        height: 652px;
    }
    .legalNiticeSummery {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        background-color: #F5F5F5;
        overflow: scroll;
        height: 652px;
    }
}

@media(max-width: 540px) {
    .taskContainer {
        margin-top: 10px;
    }
    .deadlineContainer {
        margin-top: 30px;
    }
    .finishTask {
        margin-top: 30px;
    }
    .mainContainerHelp {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        background-color: #F5F5F5;
        overflow: scroll;
        height: 652px;
    }
    .headerHelp h1 {
        margin-top: 0;
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .headerHelp img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: 10px;
    }
}

@media(max-width: 500px) {
    .finishContainer img {
        padding-left: 15px;
        padding-right: 15px;
    }
    .deatlineDate {
        margin-left: 15px;
    }
    .boardContainer {
        padding: 7px;
    }
}

@media(max-width: 450px) {
    .headline p {
        font-size: 20px;
    }
    .finishContainer p {
        font-size: 16px;
    }
    .finishContainer {
        padding: 8px;
    }
    .boardContainer {
        padding: 0px;
    }
    .boardContainer div {
        font-size: 40px;
        padding-top: 0;
    }
    .taskContainer div {
        text-align: center;
        margin-top: 6px;
    }
    .legalNiticeSummery {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        background-color: #F5F5F5;
        overflow: scroll;
        height: 652px;
    }
}

@media(max-width: 414px) {
    .taskContainer {
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
    }
    .deadlineContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
        height: 110px;
    }
    .finishTask {
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
    }
    .deadlineContainer p {
        margin: 0;
        font-size: 18px;
        margin-top: 10px;
        padding-left: 6px;
    }
    .mainContainerHelp {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        background-color: #F5F5F5;
        overflow: scroll;
        height: 630px;
    }
    .headerHelp h1 {
        margin-top: 0;
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .headerHelp img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: 10px;
    }
}

@media(max-width: 412px) {
    .taskContainer {
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
    }
    .deadlineContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 60px;
        height: 110px;
    }
    .finishTask {
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 60px;
    }
    .mainContainerHelp {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        background-color: #F5F5F5;
        overflow: scroll;
        height: 630px;
    }
    .headerHelp h1 {
        margin-top: 0;
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
}

@media(max-width: 410px) {
    .boardContainer div {
        font-size: 30px;
    }
    .boardContainer {
        width: 90px;
        height: 90px;
    }
    .taskContainer div {
        text-align: center;
        margin-top: 7px;
    }
}

@media(max-width: 393px) {
    .mainContainerHelpSummary {
        overflow: scroll;
        height: 661px;
    }
    .legalNiticeSummery h1 {
        font-size: 30px;
    }
    .headerHelpSummary img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: 8px;
    }
}

@media(max-width: 390px) {
    .mainContainerHelpSummary {
        overflow: scroll;
        height: 655px;
    }
    .legalNiticeSummery h1 {
        font-size: 30px;
    }
    .headerHelpSummary img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: 8px;
    }
}

@media(max-width: 375px) {
    .headline h1 {
        border: none;
        font-size: 47px;
        margin-top: 5px;
    }
    .headline p {
        font-size: 16px;
    }
    .headline {
        display: flex;
        margin-left: 10%;
    }
    .taskContainer {
        margin-top: 0px;
    }
    .deadlineContainer {
        margin-top: 22px;
    }
    .finishTask {
        margin-top: 22px;
    }
    .deadlineContainer p {
        margin: 0;
        font-size: 18px;
        margin-top: 10px;
        padding-left: 0px;
    }
    .deadlineContainer div {
        font-size: 30px;
        text-align: center;
        padding-top: 0;
    }
    .deadlineContainer img {
        width: 40px;
        height: 40px;
        margin-top: 9px;
    }
    .finishContainer div div {
        text-align: center;
        font-size: 30px;
        padding-top: 0;
        /* padding-right: 25px; */
    }
    .finishContainer p {
        padding-right: 0px;
    }
    .mainContainerHelpSummary {
        overflow: scroll;
        height: 682px;
    }
}

@media(max-width: 360px) {
    .taskContainer {
        margin-top: 20px;
    }
    .deadlineContainer {
        margin-top: 40px;
    }
    .finishTask {
        margin-top: 40px;
    }
    .deatlineDate {
        margin-left: 11px;
    }
    .mainContainerHelpSummary {
        overflow: scroll;
        height: 551px;
    }
}

@media(max-width: 280px) {
    .boardContainer div {
        font-size: 25px;
    }
    .boardContainer p {
        font-size: 11px !important;
    }
    .boardContainer {
        width: 70px;
        height: 70px;
    }
    .taskContainer {
        margin-top: 10px;
    }
    .deadlineContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
        height: 81px;
    }
    .deadlineContainer p {
        font-size: 10px !important;
    }
    .deadlineContainer div {
        font-size: 25px;
        text-align: center;
        padding-top: 0;
    }
    .finishContainer div div {
        text-align: center;
        font-size: 25px;
        padding-top: 0;
        /* padding-right: 25px; */
    }
    .finishContainer p {
        font-size: 9px;
    }
    .mainContainerHelpSummary {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        overflow: scroll;
        height: 465px;
    }
}