body {
    margin: 0;
}

.rightContent {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.headerContent p {
    padding: 20px;
    padding-left: 100px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.personLogIn {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.headerContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}



/* Hier beginnt der Content*/

.headline {
    display: flex;
    margin-left: 10%;
}

.headline h1 {
    font-size: 70px;
    padding-right: 30px;
    border-right: 3px solid #29ABE2;
    margin-bottom: 0;
    margin-top: 20px;
}

.headline p {
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
    padding-bottom: 10px;
}

.mainContent {
    display: flex;
}

.left-Container{
    width: 60%;
    margin-left: 10%;
    margin-top: 10px;
}

.right-Container{
    width: 40%;
    margin-right: 10%;
    
}

.leftContent {
    width: 50%;
    margin-left: 10%;
}

.taskContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.taskContainer a {
    text-decoration: none;
    color: black;
}

.taskContainer div {
    text-align: center;
}

.boardContainer {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.boardContainer div {
    font-size: 50px;
    padding-top: 0;
}

.boardContainer p {
    margin: 0;
    font-size: 20px;
}

.boardContainer:hover {
    cursor: pointer;
    transform: scale(1);
    color: white;
    background-color: #2A3647;
}



.deadlineContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.deadlineContainer a{
    text-decoration: none;
    color: black;
}


.deadlineContainer img {
    width: 90px;
    height: 90px;
    padding-right: 10px;
}

.deadlineContainer div {
    font-size: 40px;
    text-align: center;
    padding-top: 0;
}

.deadlineContainer p {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
}

.deadlineContainer:hover {
    cursor: pointer;
    transform: scale(1);
    color: white;
    background-color: #2A3647;
}

.deadlineContainer a:hover {
    cursor: pointer;
    transform: scale(1);
    color: white;
    background-color: #2A3647;
}

.deadlineTasks{
    display: flex;
    margin: 10px;
}

.deatlineDate {
    margin-left: 50px;
    padding-left: 30px;
    border-left: 3px solid lightgray;
}

.date {
    font-size: 30px !important;
    padding-left: 25px;
}

.finishTask {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.finishTask a {
    text-decoration: none;
    color: black;
}


.finishContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}


.finishContainer div div {
    text-align: center;
    font-size: 40px;
    padding-top: 0;
    padding-right: 25px;
}

.finishContainer p {
    margin: 0;
    font-size: 19px;
    padding-right: 25px;
}

.finishContainer img {
    padding-right: 10px;
    height: 80px;
    width: 80px;
    padding-left: 25px;
    padding-right: 25px;

}


.finishContainer:hover {
    cursor: pointer;
    transform: scale(1);
    color: white;
    background-color: #2A3647;
}

.greet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    font-size: 50px;
    margin-left: 5%;
}

.greet p {
    margin-top: 0;
    margin-bottom: 0;
    color: #29ABE2;
}






/*Ab hier Help Container*/

.mainContainerHelp {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    background-color: rgba(240, 236, 236, 0.443);
}

.d-none {
    display: none;
}

.headerHelp {
    display: flex;
    justify-content: space-between;
}

.headerHelp h1 {
    margin-top: 0;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.headerHelp img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.flexContainer {
    display: flex;
}

.flexContainer p {
    padding-left: 10px;
    margin-top: 0;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

@media(max-width: 1290px) {
    .left-Container{
        width: 80%;
    }
}
@media(max-width: 1100px) {
    .headline p{
        font-size: 25px;
    }

    .headerContent p{
        margin-left: 5%;
    }

    .greet{
        font-size: 40px;
        margin-left: 10%;
    }

    .boardContainer {
        padding: 10px;
    }

    .left-Container{
        margin-left: 5%;
    }

    .finishContainer{
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
}

@media(max-width: 900px){
    .headerContent{
        justify-content: end;
    }

    .right-Container {
        display: none;
    }

    .left-Container{
        margin-left: 0;
        width: 100%;
    }

    .taskContainer{
        justify-content: space-around;
    }

    .finishTask{
        justify-content: space-around;
    }

}
