body {
    margin: 0px;
}

.mainContent1 {
    padding-left: 70px;
    margin-top: -20px;
}

.headline {
    display: flex;
}

.headline h1 {
    padding-right: 30px;
    font-size: 70px;
    margin-bottom: 0;
}

.flexContainer {
    display: flex;
    padding-left: 70px;
}

.leftContainer {
    width: 50%;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 200px;
}

.containerForm {
    display: flex;
}

.leftContainer p {
    font-size: 21px;
    font-weight: 400px;
}

.headlineTitel {
    font-weight: bold;
    font-size: 61px;
    color: #000000;
    margin-bottom: 20px;
}

.leftContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.leftContainer textarea {
    width: 400px;
    height: 70px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.rightContainer textarea {
    width: 400px;
    height: 70px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.rightContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.rightContainer p {
    font-size: 21px;
    font-weight: 400px;
}

.flex p {
    margin-bottom: 0;
}

.prio {
    display: flex;
}

.prio img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.prioContainer {
    padding: 10px;
    margin-right: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 21px;
    border: 1px solid #D1D1D1;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prioContainer img {
    padding-left: 0px;
}

.medium {
    height: 10px !important;
    padding-top: 4px;
}

.prioContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 3px lightgray;
}

.middleLine {
    position: absolute;
    width: 0px;
    height: 520px;
    left: 750px;
    top: 180px;
    border: 1px solid #D1D1D1;
}

.relativeContainer {
    position: relative;
}

.dateImg {
    width: 12px;
    height: 12px;
    background-color: white;
}

.subtaskIMG {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 30px;
    top: 12px;
}

.checkbox {
    max-width: 25px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-top: 6px;
}

.subtaskContainer {
    display: flex;
}

.subtaskContainer p {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 18px;
}

.btn {
    margin-top: 150px;
    margin-left: 100px;
}

.btn img {
    width: 14px;
    height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.btnClear {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgray;
    margin-right: 12px;
    cursor: pointer;
    font-size: 18px;
    background-color: #FFFFFF;
}

.btnCreate {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgray;
    background: #2A3647;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.btnClear:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.btnCreate:hover {
    background-color: #29ABE2;
}

.pfeilUnten {
    width: 8px;
    height: 8px;
}

select {
    width: 415px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

.mainContainer {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.mainContainerTaskForm {
    background-color: #FFFFFF;
    width: 80vw;
    height: 90vh;
    border-radius: 30px;
}

.closes {
    position: absolute;
    top: 60px;
    right: 200px;
    color: #5f5e5e;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    font-family: none;
}

.closes:hover,
.closes:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.d-none {
    display: none;
}

.red {
    background-color: #FF3D00;
    color: white;
}

.yellow {
    background-color: #FFA800;
    color: white;
}

.green {
    background-color: #7AE229;
    color: white;
}

.titleInputFields {
    margin-top: 20px;
    margin-bottom: 5px;
}