body {
    margin: 0px;
}

.mainContent1 {
    padding-left: 120px;
    margin-top: -20px;
}

.headline {
    display: flex;
}

.headline h1 {
    padding-right: 30px;
    font-size: 70px;
    margin-bottom: 0;
}

.flexContainer {
    display: flex;
    padding-left: 70px;
}

.leftContainer {
    width: 50%;
    padding-left: 50px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 300px;
}

.containerForm {
    display: flex;
}

.leftContainer p {
    font-size: 21px;
    font-weight: 400px;
}

.headlineTitel {
    font-weight: bold;
    font-size: 61px;
    color: #000000;
    margin-bottom: 20px;
}

.leftContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 420px;
    height: 27px;
    padding: 8px;
    font-size: 21px;
    cursor: pointer;
}

.leftContainer textarea {
    width: 420px;
    height: 70px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    font-size: 21px;
    cursor: pointer;
}

.rightContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 420px;
    height: 27px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.flex p {
    margin-bottom: 0;
}

.prio {
    display: flex;
}

.prio img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.prioContainer {
    padding: 10px;
    margin-right: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 21px;
    border: 1px solid #D1D1D1;
    width: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prioContainer img {
    padding-left: 0px;
}

.medium {
    height: 10px !important;
    padding-top: 4px;
}

.prioContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 3px lightgray;
}

.middleLine {
    position: absolute;
    width: 0px;
    height: 570px;
    left: 885px;
    top: 180px;
    border: 1px solid #D1D1D1;
}

.relativeContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.dateImg {
    width: 12px;
    height: 12px;
    background-color: white;
}

.subtaskIMG {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 35px;
    top: 15px;
}

.checkbox {
    max-width: 25px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-top: 6px;
}

.btn img {
    width: 14px;
    height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.btnClear {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgray;
    margin-right: 12px;
    cursor: pointer;
    font-size: 18px;
    background-color: #FFFFFF;
}

.btnCreate {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgray;
    background: #2A3647;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.btnCreate:hover {
    background-color: #29ABE2;
}

.pfeilUnten {
    width: 8px;
    height: 8px;
}

select {
    width: 415px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

.mainContainer {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.mainContainerTaskForm {
    background-color: #FFFFFF;
    width: 80vw;
    height: 90vh;
    border-radius: 30px;
}

.closes {
    position: absolute;
    top: 60px;
    right: 200px;
    color: #5f5e5e;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    font-family: none;
}

.closes:hover,
.closes:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.red {
    background-color: #FF3D00;
    color: white;
}

.yellow {
    background-color: #FFA800;
    color: white;
}

.green {
    background-color: #7AE229;
    color: white;
}

.titleInputFields {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 21px;
}


/** Area for Category **/

.categoryDiv {
    width: 400px;
    height: 7px;
    border-radius: 10px;
    padding: 18px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.categoryMedia {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.selectTaskCategory {
    font-size: 21px;
    margin: 0px;
}

.bg-orange {
    background-color: #FF3D00 !important;
}

.bg-yellow {
    background-color: #FFA800 !important;
}

.bg-green {
    background-color: #7AE229 !important;
}

.bg-pink {
    background-color: #FC71FF;
}

.bg-turquoise {
    background-color: #1FD7C1;
}

.bg-blue {
    background-color: #0038FF;
}

.categoryMediaDivSmoll {
    display: flex;
    align-items: center;
    width: 100%;
}

.categoryMediaDivSmoll:hover {
    background-color: rgb(248, 244, 244);
    cursor: pointer;
}

.taskCategory {
    font-size: 21px;
    margin: 10px 19px;
}

.categoryList {
    padding-left: 12px;
    margin-top: 0px;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0px;
    list-style-type: none;
    height: 133px;
    overflow: scroll;
    overflow-x: hidden;
}

.borderButton {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.containerColorPicker {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-top: 10px;
}

.colorPicker {
    border-radius: 100%;
    height: 17px;
    width: 17px;
    border: 2px solid white;
    cursor: pointer;
}

.inputfieldNewCategory {
    outline: none !important;
    border: none !important;
    z-index: 999 !important;
}

.selectNewCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
}

.subLine {
    width: 0px;
    height: 30px;
    border: 1px solid lightgray;
}

.selectNewCategoryCancel {
    padding-right: 5px;
}

.selectNewCategoryCheckmark {
    padding-left: 12px;
}


/** Area for Assigned to **/

.assignedDiv {
    width: 400px;
    height: 7px;
    border-radius: 10px;
    padding: 18px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.assignedDivBorder {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none !important;
}

.assignedToList {
    padding-left: 12px;
    margin-top: 0px;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0px;
    list-style-type: none;
    height: 133px;
    overflow: scroll;
    overflow-x: hidden;
}

.taskAssignedTo {
    font-size: 21px;
    margin: 10px 19px;
}

.inputCheckbox {
    height: 15px !important;
    width: 15px !important;
    margin-right: 20px;
}

.assignedToListBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assignedToContactButton {
    margin-right: 12px;
    margin-bottom: 6px;
}

.assignedToListBox:hover {
    background-color: rgb(248, 244, 244);
    cursor: pointer;
}

.assignedAddContact {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.assignedAddContactDivs {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addCategoryInTask {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignedAddContactLetters {
    font-size: 15px !important;
}


/** Area for Subtasks **/

.subtsasksCancelImg {
    position: absolute;
    right: 70px;
    top: 10px;
    cursor: pointer;
}

.subtasksSsubLine {
    width: 0px;
    height: 30px;
    border: 1px solid lightgray;
    position: absolute;
    right: 63px;
    top: 8px;
}

.subtasksChackImg {
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}

.checkboxSubtasks {
    max-width: 25px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxSubtasksContainer {
    display: flex;
    align-items: center;
}

.btn {
    position: absolute;
    top: 685px;
}

.subtaskContainer {
    display: flex;
    flex-direction: column;
}

.subtasksComent {
    padding-left: 15px;
    font-size: 15px;
}