body {
    margin: 0px;
}

.mainContent {
    padding-left: 70px;
}

.headline {
    display: flex;
}

.headline h1 {
    padding-right: 30px;
    font-size: 70px;
    margin-bottom: 0;
}

.flexContainer {
    display: flex;
    padding-left: 70px;
}

.leftContainer {
    width: 50%;
}

.leftContainer p {
    font-size: 20px;
}

.leftContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.leftContainer textarea {
    width: 400px;
    height: 70px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.rightContainer input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.rightContainer p {
    font-size: 20px;
}

.flex p {
    margin-bottom: 0;
}

.prio {
    display: flex;
}

.prio img {
    width: 20px;
    height: 20px;
}

.prioContainer {
    padding: 10px;
    margin-right: 18px;
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
}

.prioContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 2px solid lightgray;
}

.middleLine {
    position: absolute;
    width: 0px;
    height: 500px;
    left: 875px;
    top: 200px;
    border: 1px solid #D1D1D1;
}

.relativeContainer {
    position: relative;
}

.rightContainer {
    display: flex;
    flex-direction: column;
}

.dateImg {
    width: 12px;
    height: 12px;
    background-color: white;
}

.subtaskIMG {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 30px;
    top: 12px;
}

.checkbox {
    max-width: 25px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-top: 6px;
}

.subtaskContainer {
    display: flex;
}

.subtaskContainer p {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 18px;
}

.btn {
    position: absolute;
    bottom: 50px;
    right: 150px;
}

.btn img {
    width: 14px;
    height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.btnClear {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgray;
    margin-right: 12px;
    cursor: pointer;
    font-size: 18px;
}

.btnCreate {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgray;
    background: #2A3647;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.btnClear:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.btnCreate:hover {
    background-color: #29ABE2;
}

.pfeilUnten {
    width: 8px;
    height: 8px;
}

select {
    width: 415px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

.mainContainer {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainerTaskForm {
    background-color: #FFFFFF;
    width: 80vw;
    height: 85vh;
    border-radius: 30px;
}

.grey-line {}