<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gruppenarbeit Join</title>
    <link rel="stylesheet" href="/css/desktop_template.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" Crossorigin>

</head>

<body>

    <div class="header">
        <img src="/asseds/img/Capa2.png">
        <div class="flex">
            <a href="summary.html"><img src="/asseds/img/Vector (6).png">Summary</a>
            <a href="add_task.html"><img src="/asseds/img/Frame 12.png">Board</a>
            <a href="#"><img src="/asseds/img/Group 1.png">Add Task</a>
            <a href="#"><img src="/asseds/img/Frame 12 (1).png">Contacts</a>
        </div>
        <div class="flex">
            <a href="#"><img src="/asseds/img/Frame 4.png">Legal Notice</a>
            <a href="#"><img src="/asseds/img/Frame 4.png">Datenschutz</a>
        </div>


    </div>


</body>

</html>