<link rel="stylesheet" href="./css/mobileMenu.css">
<script src="script.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" Crossorigin>


<div class="mobileMenu d-none">
    <a href="summary.html" class="buttonSection" id="navBarSummary">
        <img src="./asseds/img/mobileSummary.png">
        <p>Summary</p>
    </a>
    <a href="board.html" class="buttonSection" id="navBarBoard">
        <img src="./asseds/img/mobileBoard.png">
        <p>Board</p>
    </a>
    <a href="add_task.html" class="buttonSection" id="navBarAddTask">
        <img src="./asseds/img/mobileAddTask.png">
        <p>Add Task</p>
    </a>
    <a href="contacts.html" class="buttonSection" id="navBarContacts">
        <img src="./asseds/img/mobileContacts.png">
        <p>Contacts</p>
    </a>
</div>