<link rel="stylesheet" href="/css/task_form.css">

<div class="mainContainer">
    <div class="mainContainerTaskForm">
        <div class="mainContent1">
            <div class="headline">
                <h1>Add Task</h1>
            </div>
        </div>


        <div class="middleLine"></div>
        <div class="flexContainer">
            <form onsubmit="addTask(); return false;"></form>
            <div class="leftContainer">
                <p>Title</p>

                <input placeholder="Enter a title" required>
                <p>Description</p>
                <textarea required placeholder="Enter a Description"></textarea>
                <p>Category</p>
                <select required placeholder="Select task category">
                        <option>New category</option>
                        <option>Sales</option>
                        <option>Backoffice</option>
                         </select>
                <p>Assigned to</p>
                <select placeholder="Select contacts to assign"></select>

            </div>

            <div onclick="closeContainer()" class="closes">&times;</div>

            <div class="rightContainer">
                <p>Due date</p>
                <div>
                    <input type="date" placeholder="dd/mm/yyyy" required>

                </div>
                <p>Prio</p>
                <div class="prio">
                    <div id="red" onclick="changeColorRed()" class="prioContainer">Urgent
                        <img id="redImg" src="/asseds/img/pfeil-oben-rot.png">
                    </div>
                    <div id="yellow" onclick="changeColorYellow()" class="prioContainer">Medium
                        <img id="yellowImg" class="medium" src="/asseds/img/medium-gelb.png">
                    </div>
                    <div id="green" onclick="changeColorGreen()" class="prioContainer">Low
                        <img id="greenImg" src="/asseds/img/pfeil-unten-grün.png">
                    </div>
                </div>

                <p>Subtasks</p>

                <div>
                    <input required>
                    <img class="subtaskIMG" src="asseds/img/Vector (1).png">
                </div>

                <div class="subtaskContainer">
                    <input class="checkbox" type="checkbox">
                    <p>Subtask 1</p>
                </div>

                <div class="btn">
                    <button onclick="closeContainer()" class="btnClear">Clear
                                X
                        </button>

                    <button class="btnCreate"> Create Task
                            <img src="asseds/img/hacken.png">
                        </button>
                </div>
            </div>

            </form>
        </div>
    </div>
</div>