body{
    margin: 0;
    width: 100%;
}

.content{
    display: flex;
}

.header{
    width: 280px;
    height: 100vh;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.flex a{
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.flex a:hover{
    background-color: #091931;
}

.flex img {
    padding-right: 30px;
    width: 25px;
    height: 25px;
}


